@charset "utf-8"

*{
  margin:  0px;
  padding: 0px;
}
body{
   max-width: 1000;
   min-width: 300;
    background: rgba(198, 150, 240, 0.425);
}
#titulo{
    background-image: linear-gradient(to bottom, rgb(0, 128, 0),rgb(201, 223, 4));
    box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.712);
   margin-top:-5px;
    padding-top:20px;
    padding-bottom: 20px;
    color: beige;
    font-size: 45px;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.884);
    border-radius: 20px 20px 0px 0px;
   
}


#dow{
    background-image: linear-gradient(to right, rgb(7, 19, 0),transparent);
   
   margin-right: 1100px;
   margin-top: -30px;
   color: white;
   text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.767);
   width: 100%;
}
.download{
  
  background-color: rgba(7, 5, 0, 0.842);
    box-shadow: 1px 5px 3px 2px rgba(0, 0, 0, 0.664);
    border-radius: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
   margin-right: -100
  
}
#nav{

justify-content: center;
    margin-left: -auto;
    margin-top: 40px;
    padding-top: -50;
    padding-bottom: -55px;
 }

 .download a{
  margin: 46px;
   font-weight: bold;
  
   font-family: Arial, Helvetica, sans-serif;
   color: rgb(255, 242, 242);
   text-decoration: none;
   text-shadow: 2px 4px 5px  rgba(0, 0, 0, 0.884);
    
}
.download  >a:hover{
color: rgba(253, 236, 0, 0.767);
text-decoration: underline;
font-size: 15px;

}
.powerpoint{
  
  margin-top: 30px;
  margin-bottom: 30px;
display: flex;
justify-content: space-around;

}
ul{
  list-style: none;
}

ul a{
  text-decoration: none;
  font-weight: bold;
}
ul a:hover{
   background-color: blueviolet;
   color: azure;
   text-decoration:underline
   
}

 #rodape{
    background-color: #014707ab;
     color: white;
     font-weight: bold;
     text-align: center;
     font-size: 18px;
     max-width: 100%;
 }