@charset "utf-8"

*{
  margin:  0px;
  padding: 0px;
}
body{
   max-width: 1000;
   min-width: 300;
    background: rgba(171, 222, 255, 0.767);
}
#cabeca{
  margin-top: -30px;
 
}
#titulo{
    background-image: linear-gradient(to bottom, rgb(0, 128, 0),rgb(201, 223, 4));
    box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.712);
   margin-bottom: 0px;
    padding-top:20px;
    padding-bottom: 20px;
    color: beige;
    font-size: 45px;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.884);
    border-radius: 20px 20px 0px 0px;
   
}


#dow{
    background-image: linear-gradient(to right, rgb(7, 19, 0),transparent);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.897);
   margin-right: 1100px;
   margin-top: -47px;
   color: white;
   text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.767);
   width: 100%;
}
.download{
  background-color: rgba(190, 133, 243, 0.432);
    box-shadow: 1px 5px 3px 2px rgba(0, 0, 0, 0.397);
    padding-top: 0px;
    padding-bottom: 0px;
    margin-right: 76px;
    margin-left: 70px;
}
#nav{
   
    margin-top: 40px;
    padding-top: -50;
    padding-bottom: -50px;
 }

 .download a{

    padding:42px;
    margin: 5px;
   font-weight: bold;
   font-size: larger;
   font-family: Arial, Helvetica, sans-serif;
   color: rgb(6, 102, 139);
   text-decoration: none;
   text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.705);
    
}
.download  >a:hover{
color: rgb(63, 65, 212);
text-decoration: underline;
font-size: 15px;

}

#imagens{
  color: blue;
  text-align: center;
  font-size: 20px;
  padding: 10px ;
  text-shadow: 2px 1px 3px black;
display: flex;
justify-content: space-around;
width: 100%;
}
#imagens a:hover{
  background-color: darkgreen;
box-shadow: 4PX 6PX 4PX;
}
#rodape{
    background-color: #014707ab;
     color: white;
     font-weight: bold;
     text-align: center;
     font-size: 18px;
     max-width: 100%;
 }