@charset "utf-8"

*{
margin: 0%;
padding: 0%;
}

body{
 
}


#titulo{
    background-image: linear-gradient(to bottom, rgb(0, 128, 0),rgb(201, 223, 4));
    box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.712);
    margin-top: -60px;
    margin-right: 1200px;
   margin-bottom: 0px;
    padding-top:-10px;
    padding-bottom: -10px;
    color: beige;
    font-size: 40px;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.884);
   width: 100%;
}


#dow{
    background-image: linear-gradient(to right, rgb(7, 19, 0),transparent);
    max-width: 100%;
    min-width: 40%;
   margin-right: 1100px;
   margin-top: -57px;
   color: white;
   text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.767);
}


#nav{

    background-image: linear-gradient( rgb(204, 233, 187));
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.671);
    padding-top: 0px;
    padding-bottom: 0px;
    margin-right: 80px;
    margin-left: 0px;
   margin-top: 40px;
   padding-top: -50;
   padding-bottom: -50px;
   width: 100%;
 
  
   
   
}
#nav a{
    
    padding:40px;
    margin: 20px;
   font-weight: bold;  
   font-family: Arial, Helvetica, sans-serif;
   color: rgb(6, 4, 146);
   text-decoration: none;
   text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.705);
    
}
#nav a:hover{
color: brown;
text-decoration: underline;
font-size: 15px;

}

#imagens{
display:flex;
flex-direction:row;
justify-content: space-around;
align-items:center;
padding: 20px;
margin-left:-20px;
width: 100%;
}


#imagens a:hover{
   background-color: blueviolet;
}
#atencao{
    display: flex;
    justify-content: center;
  margin-top: 30px;
}
#p1{
    display: flex;
    justify-content: center;
  margin-top: 0px;
  font-weight: 800;
  font-size: 30px;
  color: rgb(192, 0, 0);
  text-shadow: 2px 1px 4px  rgba(0, 0, 0, 0.733);
  width: 100%;
}
#p2{
    display: flex;
    justify-content: center;
  margin-top: -40px;
  font-weight: 800;
  font-size: 30px;
  color: rgb(192, 0,0);
  text-shadow: 2px 1px 4px  rgba(0, 0, 0, 0.733);
 width: 100%;
}

#pqavs{
 
  display: flex;
  justify-content: center;
}
#h{
  text-align: center;
  font-weight: 800;
  font-size: 30px;
  color: rgb(158, 0, 32);
  text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.897);
}
p{
  margin-top: -30px;
  text-align: justify;
  font-weight: 800;
  padding: 20px;
}
footer#rodape{
    background-color: #014707ab;
     color: white;
     font-weight: bold;
     text-align: center;
     font-size: 18px;
     max-width: 100%;
 }
 