@charset "utf-8"

*{
  margin:  0px;
  padding: 0px;
}
body{
    background: rgba(199, 190, 231, 0.842);
   
}
h1{
    margin-top: -7px;
    border-radius: 20px 20px 0px 0px;
    max-width:100%;
    background-image: linear-gradient(to bottom, rgb(0, 128, 0),rgb(201, 223, 4));
    box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.712);
   margin-bottom: 0px;
    padding-top:20px;
    padding-bottom: 20px;
    color: beige;
    font-size: 45px;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.884);
   
}


nav{
    background-image: linear-gradient(to right, rgb(7, 19, 0),transparent);
    padding-top:0px;
   box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.822);
   font-size: 20px;
   margin-top: 0px;
}
nav  a{
   
    color: aliceblue;
    padding: 10px;
    text-decoration: none; 
    text-shadow: 1px 2px 2px black;  
    
}
nav a:hover{  
   padding-top: 0px;
   padding-bottom: 0px;
    background-color: #00b30f;
    border-radius: 10px;
    color: #e4eaee;
    transition-duration: .4s;
}

h2{
    
    text-align: center;
    font-weight: bold;
 text-shadow: 2px 1px 3px rgba(0, 0, 0, 0.658);
}
#limpo{
background-image: linear-gradient(to right,rgba(68, 128, 0, 0.623), transparent);
box-shadow: 4px 4px 7px;
}
#linksimportantes a{
 font-weight: bold;
 text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.829);
text-decoration: none;
color: #014707;

}

#linksimportantes a:hover{
   
    background-color: #00b30fb6;
   padding: 5px;
    border-radius: 5px ;
    transition-duration: 0.5s;
    text-transform: lowercase;
    color: aliceblue;
}
#links{
    background-image: linear-gradient(to right, rgba(90, 128, 0, 0.685),transparent);
   width: 220px;
  border-style:outset;
  border-color: #02790c65;
 box-shadow: 2px 5px  6px rgba(0, 0, 0, 0.808);
    line-height: 40px;
   height: 450px;
} 
#index{
  
   padding: 20px 20px;
    display: flex;
    justify-content: space-around;
}
#equipe{
    margin-top: 16px;
   background-image: linear-gradient(to right, rgba(90, 128, 0, 0.685),transparent);
  padding: 20px 20px;
  width: 300px;
  height: 490px;
 box-shadow: 4px 4px 7px  black;
}
#tequipe{
   text-align: center;
   margin-top: -20;
   margin-bottom: 10px;
  
 
}
#secretaria{
   margin-top: 10px;
    background-image: linear-gradient(to right, rgba(90, 128, 0, 0.685),transparent);
}
#numero{
    margin-top: -20px;
    background-image: linear-gradient(to right, rgba(90, 128, 0, 0.685),transparent);
}
#tcontato{
    background-image: linear-gradient(to right, rgba(90, 128, 0, 0.685),transparent);
    margin-bottom: -10px;
    
}

p{
   
   text-align: center;
    font-weight: 800;
    font-size: 20px;
    line-height: 15px;

}

#artigo{
    color: #014707;
    background-color: azure;
}
#aedes{
    padding: 50px;
    margin-top: 60px;
    display: flex;
    justify-content: space-around;
    align-items:center;
    height: 100px;
}
#texto{
 
    text-align: justify;
    text-indent: 40px;
    font-style: normal;
    font-family:'Times New Roman', Times, serif;
    margin-left: 100px;
    margin-right:100px ;
    line-height: 30px;
   
}
#arb{
    margin-top:20px;
    margin-bottom: 10px;
    font-size:30px;
    color: #014707;
    text-shadow: 2px 1px 3px black;
}
#arboviroses{ 
  background-image: linear-gradient(to right, #57b300de, transparent);
    margin-top: -30px;
width: 40%;
height: 80%;
margin-right: 300px;


}
footer#rodape{
   background-color: #014707ab;
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 18px;
    max-width: 100%;
}
